---
import RatesAndBundles from "./RatesAndBundles.astro";
import ModalButton from "./ModalButton.svelte";
import { Image } from 'astro:assets';
import Button from "@/components/ui-svelte/button/button.svelte";

import ratesImage from "../assets/Prices and Bundles.png"

import { getImages } from "@/assets/galary/images";
import Gallery from "@/components/Gallery.tsx";

const images = await getImages({
  densities: [1.5, 2],
  imageTransform: {
    format: "webp",
  },
});
---

<div class="grid grid-cols-2 gap-4 p-2">
  <ModalButton
    aria_label="Rates and Bundles"
    classNames="h-28 min-w-32 bg-background/40 border-accent border-4 rounded-xl place-content-center"
    text="Prices and Bundles"
    id="ratesAndBundles"
    variant="secondary"
    client:idle="svelte"
  >
  <div class="p-4 overflow-hidden">
    <Image 
      src={ratesImage} 
      alt="Current prices and bundles" 
      class="max-h-[80vh] max-w-[90vw] w-full h-auto  object-contain" 
    />  
  </div>
  </ModalButton>
  <Button
    href="/book"
    aria-label="Book session"
    class="h-28 min-w-32 bg-background/40 border-accent border-4 rounded-xl place-content-center" 
    variant="secondary"
  >
    Book Session
  </Button>
  <Button
    href="https://www.dropbox.com/scl/fo/ax0yrpp4165iir4knepsc/ANeBbvSW7TndxePfg5WMwt8?rlkey=bth1wuyms1trg2it5eah3t26u&e=1&st=qu9wz6so&dl=0"
    aria-label="Portfolio"
    target="_blank"
    variant="secondary"
    class="h-28 min-w-32 bg-background/40 border-accent border-4 rounded-xl place-content-center"
  >
    Portfolio
  </Button>
  <ModalButton
    aria_label="Gallery"
    variant="secondary"
    classNames="h-28 min-w-32 bg-background/40 border-accent border-4 rounded-xl place-content-center" 
    text="Gallery"
    id="gallery"
    client:idle="svelte"
  >
    <slot name="header" />
    <div class="block lg:hidden px-2">
      <Gallery images={images} buttons={false} className="max-w-xl" client:visible />
    </div>
    <div class="hidden lg:block px-16">
      <Gallery images={images} buttons={true} className="max-w-xl" client:visible />
    </div>
  </ModalButton>
</div>
